a {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  a {
      text-decoration: underline;
  }
}

body {
  align-items: center;
  background-color: #fff;
  background: radial-gradient(circle at center, #fff 0%, #f8f8f8 75%, #ebebeb 100%);
  color: #222;
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: min-content min-content 1fr min-content;
  line-height: 1.5;
  margin: 0;
}

@media screen and (max-width: 480px) {
  body {
    grid-template-columns: 1fr;
  }
}

nav {
  grid-column: 2;
  grid-row: 1;
  padding: 0.5em 0;
}

nav li {
  list-style: none;
  float: left;
}

nav li a {
  padding: 0.5em 2em;
  display: block;
}

nav ul {
  -webkit-padding-start: inherit;
}

@media screen and (max-width: 480px) {
  nav {
    grid-column: 1;
    grid-row: 1;
  }

  nav li {
    float: none;
  }
}

header {
  grid-column: 2;
  grid-row: 2;
  padding: 0.5em 2em;
}

@media screen and (max-width: 480px) {
  header {
    grid-column: 1;
    grid-row: 2;
  }
}

main {
  grid-column: 2;
  grid-row: 3;
  padding: 0.5em 2em 3em 2em;
}

@media screen and (max-width: 480px) {
  main {
    grid-column: 1;
    grid-row: 3;
  }
}

footer {
  grid-column: 2;
  grid-row: 4;
}

@media screen and (max-width: 480px) {
  footer {
    grid-column: 1;
    grid-row: 4;
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0;
}

h1::after {
  content: "";
  background-color: #ffe800;
  background: repeating-linear-gradient(45deg, #ffe800, #ffe800 0.5rem, #222 0.5rem, #222 1.0rem);
  display: block;
  height: 0.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  h1, h2 {
    font-size: 1.5em;
    padding-top: 2em;
  }
}

p {
  margin: 1em 0 0 0;
}
