<ul>
  <li><a href="https://feuerhuhn.de/index">Startseite</a></li>
  <li><a href="https://feuerhuhn.de/impressum">Impressum</a></li>
  <li><a href="https://feuerhuhn.de/datenschutz">Datenschutzerklärung</a></li>
</ul>
