<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://feuerhuhn.de/style/default.css">
    <title>{{html .Name}}</title>
  </head>
  <body>
    <nav>
      {{.Include "include/navigation.html"}}
    </nav>
    <header>
      <h1>{{.Path}}</h1>
    </header>
    <main>
      <p>
        {{if .CanGoUp}}<a href="..">Go up</a><br>
        {{end}}
      </p>
      <p>
        {{range .Items}} <a href="{{html .URL}}">{{html .Name}}</a><br>
        {{end}}
      </p>
    </main>
  </body>
</html>
