<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://feuerhuhn.de/style/default.css">
    {{if .Doc.negativeSpace}}
    <link rel="stylesheet" href="https://feuerhuhn.de/style/negative_space.css">
    {{end}}
    <title>{{html .Doc.title}}</title>
  </head>
  <body>
    <nav>
      {{.Include "include/navigation.html"}}
    </nav>
    <main>
      {{.Doc.body}}
    </main>
  </body>
</html>
